:root {
  font-size: 16px;
  --surface: rgb(235, 243, 250);
  --surface1: rgb(250, 253, 255);
  --text: #000;
}

@media (max-width: 500px) {
  :root {
    font-size: 12px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.limit-width-1200 {
  max-width: 1200px;
}

.padh-05{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.pad-10{
  padding: 1rem;
}

.padh-10{
  padding-left: 1rem;
  padding-right: 1rem;
}

a.nolink {
  color: inherit;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: var(--surface);
}

.main-header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
  z-index: 100;
}

.main-header-content {
  height: 4rem;
  flex: 1;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--surface1);
  max-width: 1200px;
}

.main-header-title {
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 0.5rem;
  margin-right: auto;
}

.main-header-nav-list {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.main-header-nav-list a {
  color: var(--text);
  text-decoration: none;
}

.header-dummy {
  height: 5rem;
}

@media (max-width: 1200px) {
  .main-header {
    padding: 0;
  }

  .main-header-content {
    border-radius: 0;
  }

  .header-dummy {
    height: 4rem;
  }
}

.main-visual {
  height: 60vh;
  position: relative;
}

.main-visual-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-visual-head-wrap {
  display: flex;
  align-items: center;
}

.main-visual-title .main-visual-logo {
  max-width: 10rem;
  max-height: 10rem;
}

.main-visual-title h1 {
  font-weight: normal;
  font-size: 6rem;
  margin: 0;
}

.main-visual-title h2 {
  font-weight: normal;
  font-size: 1rem;
}

.homepage-section {
  display: flex;
  justify-content: center;
}

.homepage-section header {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.section-aboutus {
  background-color: var(--surface1);
  border-radius: 1rem;
}
